{% extends "template.html" %}
{% block body %}
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MFQXX6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MFQXX6');</script>
    <!-- End Google Tag Manager -->
  <center>
    <div class = "container">
    <h1>My Tickets</h1>
    <br>
      <div class = "row">
        <h3>My Address: {{ my_address }}</h3>
        <br>
        {% for tx in utxos %}
          {% for a in tx.assets %}
          <h3>Transaction ID: {{ tx.txid }}</h3>
          <h3>My Ticket ID: {{ a.assetId }}</h3>
          <h3>Tickets I Own: {{ a.amount }}</h3>
          <br>
          {% endfor %}
        {% endfor %}
          <br>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
      </div>
    </div>
  </center>
</body>

{% endblock %}
