{% extends "template.html" %}
{% block body %}
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MFQXX6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MFQXX6');</script>
    <!-- End Google Tag Manager -->
    <center>
    <div class = "container">
      <h1>Check Ticket Details</h1>
      <h3>Issuer Address: {{ bitcoin_address }}</h3>
      <h3>Asset ID: {{ asset_id }}</h3>
      <h3>{{ name }}</h3>
      <img src= {{ image }} alt="color qrcode" height="300" width="300">
      <h3>Price: ${{ price }}</h3>
      <h3>Description: {{ description }}</h3>
      <br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    </center>
</body>

{% endblock %}


